body {
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    padding: 7vh 3vw 1vw 3vw;
    color: #ebe7e4;
    background: #1a1a1a;
}

.unitContainer{
    display: flex;
    align-items: self-start;
    font-size: 5vw;
    font-weight: bold;
}
.unitContainer p{
    padding: 0;
    margin:0 1vw 0 0;
}
.unitContainer .number{
    font-size: 2vw;
}
.unitContainer span{
    display: block;
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    background: #ebe7e4;
}

.unitContainer #headerImg{
    width: 10vw;
    height: 5.5vw;
    margin-right: 1vw;
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;
}

.titleBox{
    font-size: 2vw;
}
.titleBox p{
    padding: 0;
    text-align: right;
    margin:0 1vw 0 0;
}
.barCodeBox{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barCodeBox .imgBox{
    display: block;
    width: 6.5vw;
    height: 1.5vw;
    background: url(../img/codeImg.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 0.5vh;
}
.barCodeBox p{
    margin: 0;
    padding: 0;
}
.decorateBox{
    margin-top: 10vh;
}
.decorateBox p{
    margin: 0;
    padding: 0;
}
.decorateBox p:nth-child(1){
    font-size: 7vw;
}
.decorateBox p:nth-child(2){
    font-size: 3vw;
    color: #ebe7e4;
}
section:nth-child(2) h1 ,section:nth-child(2) h3,section:nth-child(2) p{
    margin: 0;
    padding: 0;
}
section:nth-child(2) p{
    font-size: 1.5vw;
}
section:nth-child(2){
    background: #ebe7e4;
    color: #1a1a1a;
    padding: 5vh 3vh;
    margin-top: 5vh;
    border-radius: 3px;
}
section:nth-child(2) h1 {
    font-size: 6vw;
}
section:nth-child(2) h3{
    font-size: 3vw;
    margin-top: 3vh;
}
.synopsis{
    width: 45vw;
    margin-top: 3vh !important;
}
a{
    text-decoration: none;
    position: relative;
    color: #00a1d6;
}

a:after {
    content: '';
    position: absolute;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgba(251, 114, 153, 0.5);
}

a:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgba(251, 114, 153, 0.5);
}
footer{
    text-align: center;
    margin-top: 3vh;
}